body {
    background-color: #2D033B !important;
    color: #fff !important;
    font-family: Arial, sans-serif;
  
  }


  h1{
    padding: 30px;
   text-align: center;
  
  }
 
  table
  {
    color: #fff !important;
    text-align: left;
    
  }