body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
  }

  .pic-1{
    height: 50px;
    width: 50px;
   
   
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
    background-color:#18122B;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  .hero {
    align-items: center;
   background-size: cover;
   background-position: center;
   height: 500px;
   display: flex;
   flex-direction: column;
 }
 
 .hero h2 {
   font-size: 60px;
   margin: 0;
   text-shadow: 2px 2px #000;
 }
 
 .hero p {
   font-size: 24px;
   margin: 20px 0 0 0;
   text-shadow: 2px 2px #000;
 }
 .container-1{
    margin-top: 50px;
  
    text-align: center;
    justify-content: center;
    width: 70%;
     background: url("../images/stars.jpg");
     padding-top: 10%;
     border-radius: 5%;
     height: 100%;
     
  }
  
  .container-1 h2{
     text-align: center;
     margin-bottom:20px ;
  }
  
  .container-1 p{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  
h1{
  color: #865DFF;
  font-size: 30px;
}

.float-parent-element { 
    width: 100%; 
    height: 500px;
    margin-top: 10%;
   
  } 
  .float-child-element1 { 
    float: left; 
    padding-top: 20px;
   text-align: center;
    width: 50%; 
  } 
  .float-child-element2 { 
    padding-top: 20px;
    text-align: center;
    float: right; 
    width: 50%; 
  } 
  .pic-2
  {
    height: 400px;
    padding-left: 50px;
  }
  .about-1{ 
    height: 100%; 
   
  } 
  .about-2 { 
    height: 100%; 
    padding: 50px;
  }
 span
{
  margin:10px;
  font-size: 15px;
}
.about-2 a{
  font-size: 20px;
}
  .label1
  {
    font-size: 24px;
  }
  .input1
  {
    margin: 5%;

  }
  .cta{
    margin-top: 15px;
    display: inline-block;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 50px;
  
    text-decoration: none;
  }
  footer
  {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }